<div>
    <ul>{{ tab.intitule }}</ul>
    <ul>{{ tab.niveau }}</ul>
    <ul>{{ tab.age }}</ul>
    <ul>{{ tab.sexe }}</ul>
    {%  for poule in tab.poules %}
        <ul>{{  poule.numero }}</ul>
        {% for equipe in poule.equipes %}
            <ul>{{  equipe.nom }}</ul>
        {% endfor %}


    {% endfor %}
</div>