<h2>Définir le score pour {{ matche.equipe1.nom }} vs {{ matche.equipe2.nom }}</h2>

{{ form_start(form) }}
    {{ form_row(form.score1) }}
    {{ form_row(form.score2) }}
<button class="btn btn-success">Valider</button>
{{ form_end(form) }}
